Bank-App-Terraform-kube/.terraform.lock.hcl
Bank-App-Terraform-kube/.terraform.lock.hcl_bkp
Bank-App-Terraform-kube/.terraform/*
Bank-App-Terraform-kube/.terraform_bkp/*
terraform.tfstate
modules/key/*
root/.terraform.lock.hcl
root/.terraform/**
.DS_Store/*